@import "tailwindcss";

@theme {
  --font-primary: "Delius Swash Caps", cursive;
  --font-secondary: "Bonheur Royale", cursive;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.font-primary {
  font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::selection {
  background-color: #7b3306;
  color: #fef3c6;
}
